.contenu-principal-contact{
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.contenu-pricipal-écrit-contenu{
    color: bisque;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
}


.contenu-pricipal-écrit-bouton {
    background-color: bisque;
    width: 9rem;
    height: 3rem;
    margin: 1rem;   
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0,25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #252323;
}

.contenu-pricipal-écrit-bouton:hover {
    background-color: #8ca2eb;
}

@media screen and (max-width: 769px) {
    .contenu{
        padding: 0 5rem;
    }
    
    .contenu-principal-contact {
        flex-direction: column;
        gap: 4rem;
    }
    .contenu-pricnipal-écrit {
        align-items: center;
    }
    
    .contenu-pricipal-écrit-titre {
        font-size: 3rem;
    }

    .contenu-pricipal-écrit-bouton {
        width: 7rem;
        height: 2.5rem;
    }
}
    