.contenu{
    margin-bottom: 48px;
    padding: 0 10rem;
    /* border-top: 0.4px solid bisque; pour la ligne de separation*/
}

.contenu-principal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenu-pricnipal-écrit {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contenu-pricipal-écrit-titre {
    font-family: 'Hurricane', cursive;
    font-weight: 400px;
    font-size: 64px;
    color:black;
}

.contenu-pricipal-écrit-soutitre {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: bisque;
}

.contenu-principal-paragraphe{
    width: 90%;
    font-family: 'Sarala', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: bisque;
}

.contenu-pricipal-écrit-bouton {
    background-color: bisque;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0,25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #252323;
}

.contenu-pricipal-écrit-bouton:hover {
    background-color: #8ca2eb;
}

.contenu-pricipal-image {
    height:30rem;
}

.contenu-secundaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}

.contenu-secundaire-titre {
    border-top: 0.4px solid bisque;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    margin-bottom: 16px;
}

.contenu-secundaire-paragraphe{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: bisque;
}

@media screen and (max-width: 769px) {
    .contenu{
        padding: 0 5rem;
    }

    .contenu-principal{
        flex-direction: column;
        gap: 6rem;
    }

    .contenu-pricipal-image {
        height: 1%;
    }
}
    