@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Sarala&family=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(320deg, #37d5d6 10%, #27096d 97%);    
}

.contenu-pricipal-écrit-soutitre .contenu-secundaire-titre {

}

@media screen and (max-width: 769px) {
    body {    
    align-items: center;
    text-align: justify;
    font-size: 50%;
    margin: 1%;
    padding: 0;
    box-sizing: column;
    justify-content: space-around;
    }
}
    